<div class="container">
  <h3>"Canción recomendada"</h3>
  <div id="botones">
    <script type="text/javascript" src="./metodos.js"></script>
    <input type="button" onclick="obtenerRecomendacion('{{llave}}','{{emotion}}', '{{clima}}')" class="btn btn-info" value="Obtener Recomendación">
    <a href="https://accounts.spotify.com/en/logout" class="btn btn-warning">Salir</a>
  </div>
